[submodule "gazebo-rfid-plugin"]
	path = gazebo-rfid-plugin
	url = https://github.com/bulbeckh/gazebo-rfid-plugin
[submodule "explore-ros2-action"]
	path = explore-ros2-action
	url = git@github.com:bulbeckh/explore-ros2-action.git
[submodule "stocktake_core/stocktake-items"]
	path = stocktake_core/stocktake-items
	url = https://github.com/bulbeckh/stocktake-items
[submodule "SWAGGER"]
	path = SWAGGER
	url = https://github.com/nvidia-isaac/SWAGGER.git
